body {
    font-size: 16px;
    font-family: 'arial', 'Meiryo', sans-serif;
    color: #333333;
}

header {
    background-color: #008b8b;
}

header section {
    width: 1240px;
    margin: 0 auto;
    padding: 18px 0 0;
    color: white;
    display: flex;
}

header nav ul {
    display: flex;
    margin: 18px 0 0;
}

header nav ul li {
    border-right: 1px solid rgba(255,255,255,0.20);
}

header nav ul li a {
    display: block;
    padding: 4px 18px;
    font-size: 18px;
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: rgba(255,255,255,0.20);
}

.main-aside {
    display: flex;
    justify-content: space-between;
    min-height: 623px;
}

.main-aside a:hover {
    border-bottom: 1px solid #333333;
}

main {
    padding: 32px 0;
    flex-basis: 920px;
}

aside {
    margin: 18px 0;
    padding: 14px 18px;
    flex-basis: 284px;
    background-color: #eee;
}

aside ul {
    padding: 0 0 8px 20px;
}

aside ul li {
    list-style-type: square;
}

footer {
    background-color: #008b8b;
    position: absolute;
    clear: both;
    width: 100%;
    text-align: right;
}

footer section {
    width: 1240px;
    margin: 0 auto;
    padding: 8px 0;
    color: white;
}

div {
    width: 1240px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 18px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;
}

p {
    padding-bottom: 8px;
}

.menu {
    text-align: right;
}

.menu a:hover {
    border-bottom: 1px solid white;
}

thead {
    border-bottom: 3px solid;
}

th {
    text-align: center;
    margin: 4px 12px;
}

tbody {
    border-bottom: 1px solid #333333;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    margin: 4px 12px;
    height: 30px;
    vertical-align: middle;
}

.time th {
    width: 200px;
}

.time td {
    text-align: center;
}

.name th {
    width: 260px;
}

.status th {
    width: 140px;
}

.status td {
    text-align: center;
}

.group th {
    width: 180px;
}

.comment input {
    border: 1px solid #333333;
}

textarea {
    border: 1px solid #333333;
}
